body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #000;
}

header, nav, footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 7px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  padding: 15px;
}

.perfil-img {
  width: 150px;
  height: 150px;
  object-fit: over;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 10px;
}

.marketplace-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.marketplace-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.marketplace-box:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.marketplace-box img {
  max-width: 70px;
  max-height: 70px;
  object-fit: contain;
}
